<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/animate.css" rel="stylesheet" />

    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/Scripts/framework/global.js"></script>
    <style>
        body {margin: 10px;}
    </style>

</head>
<body>
   
        @RenderBody()
    
</body>
</html>
