@{
    ViewBag.Title = "Word";
}
<script type="text/javascript">
          function Save() {
              document.getElementById("PageOfficeCtrl1").WebSave();
        }
         
</script>
<div style="width:900px; height:600px;">

    @Html.Raw(ViewBag.EditorHtml)
</div>

